main {
  margin: 0;
  padding: 0;
}

.nav {
  text-align: center;
}

.edit-btn {
  text-align: center;
}
.color-btn {
  text-align: center;
}

.control-btn { 
  border-radius: 10px;
  margin: 10px;
  height: 40px;
  width: 130PX;
}

table {
  margin: auto;
}

.square {
  margin: 0;
  padding: 10px;
  border: 1px black solid;
  height: 25px;
  width: 25px;
  background-color: transparent;
}
